workflow_secscan_n8n.json
{
  "name": "SecScan Turbo Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "secscan",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "secscan-webhook-uuid"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/internal/discover",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-key",
              "value": "secscan-internal-key-2024"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$json.body.token}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"token\": \"{{ $json.body.token }}\",\n  \"scan_id\": \"{{ $json.body.scan_id }}\",\n  \"target_ip\": \"{{ $json.body.target_ip }}\",\n  \"user_id\": \"{{ $json.body.user_id }}\"\n}",
        "options": {}
      },
      "id": "2",
      "name": "Descubrimiento de Red",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "dispositivos",
        "options": {}
      },
      "id": "3",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:8000/internal/deep-scan/{{$json.ip}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-key",
              "value": "secscan-internal-key-2024"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Webhook').first().json.body.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"token\": \"{{ $('Webhook').first().json.body.token }}\",\n  \"scan_id\": \"{{ $('Webhook').first().json.body.scan_id }}\"\n}",
        "options": {}
      },
      "id": "4",
      "name": "Escaneo Profundo (Por IP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Descubrimiento de Red",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descubrimiento de Red": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Escaneo Profundo (Por IP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {}
}
